{% extends "base.html" %}
{% block title %}Status | Flask CI/CD App{% endblock %}
{% block content %}
  <h1>Application status</h1>
  <p class="lead">Live details from the running container.</p>
  <dl>
    <dt>State</dt><dd class="badge">Running</dd>
    <dt>Version</dt><dd>{{ version }}</dd>
    <dt>Uptime</dt><dd>{{ uptime }} seconds</dd>
    <dt>Container host</dt><dd>{{ host }}</dd>
    <dt>Python</dt><dd>{{ python_version }}</dd>
    <dt>Server time</dt><dd>{{ now }}</dd>
  </dl>
{% endblock %}
